@using WkeSampleLoadApp.a3innuva

@model List<CompanyModel>
@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Lista de empresas</h1>

    <table class="table">
        <thead>
            <tr>
                <td>
                    Vat number
                </td>
                <td style="text-align: left;">
                    Vat name
                </td>
                <td>
                    options
                </td>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.VatNumber
                </td>
                <td style="text-align: left;">
                    @item.VatName
                </td>
                <td>
                    @Html.ActionLink("Cuentas", "Index", "Accounts", new { Area = "", companyCorrelationId = item.CorrelationId })
                    @Html.ActionLink("Facturas", "Index", "Invoices", new { Area = "", companyCorrelationId = item.CorrelationId })
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>
