@using WkeSampleLoadApp.a3innuva

@model InvoiceModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var companyCorrelationId = ViewBag.CompanyCorrelationId;
}

<h1>Editar</h1>
<h4>Factura</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" name="CompanyCorrelationId" value="@companyCorrelationId"/>
            <input type="hidden" asp-for="CorrelationId" value="@Model.CorrelationId"/>            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="InvoiceDate" class="control-label"></label>
                @Html.DisplayFor(model => model.InvoiceDate)
            </div>
            <div class="form-group">
                <label asp-for="Concept" class="control-label"></label>
                <input asp-for="Concept" class="form-control" />
                <span asp-validation-for="Concept" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountCode" class="control-label"></label>
                <input asp-for="AccountCode" class="form-control" />
                <span asp-validation-for="AccountCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                @*<span asp-validation-for="Amount" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="TaxAmount" class="control-label"></label>
                <input asp-for="TaxAmount" class="form-control" />
                @*<span asp-validation-for="TaxAmount" class="text-danger"></span>*@
            </div>
            
            <br />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />&nbsp;
                <a asp-action="Index" asp-route-companyCorrelationId="@companyCorrelationId" class="btn btn-default">Volver</a>
            </div>
        </form>
    </div>
</div>

<br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

